#Contact{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contactbody{
    background-color: transparent;
    /* margin: 30vh; */
    /* padding: 5vh; */
    width: 60vw;
    height: 70vh;
    border-radius: 20px;
    display: flex;
    margin-bottom: 10vh;
    backdrop-filter: blur(5px);
    opacity: 0.85; 
}


.contactleft{
    background-color: rgb(66, 66, 66);
    width: 55%;
    height: 100%;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(5px);
    
}

.contactname{
    color: rgb(208, 208, 208);
    font-family: "poppins", sans-serif;
    font-size: 60px;
    font-weight: 400;
    /* padding-left: 8vw; */
    padding-top: 15vh;
    /* padding-left: 8.5vw; */
    padding-bottom: 5vh;
    
}

.contactlinks{
    /* background-color: blue; */
    height: 11vh;
}

.contactright{
    font-family: "poppins", sans-serif;
    background-color: rgb(99, 99, 99);
    width: 45%;
    height: 100%;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(5px);
}



.cbtn{
    border-radius: 10px;
    border: none;
    width: 7vw;
    /* height: 3vh; */
    margin-left: 10vw;
    color: rgb(92, 92, 92);
    background-color: #d5d5d5;;
    transition: box-shadow 0.2s ease-in-out, transform  0.2s ease-in-out;
    cursor: pointer;
    font-family: "Poppins",sans-serif;
    font-size: clamp(16px, 1.6vw, 18px);
    display: block;
    padding: 5px 8px;
    filter: drop-shadow(2px 2px 3px #0003);
}

.cbtn:hover{
    /* background-color: rgb(10, 10, 10);
    color: aliceblue; */
    
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.2);
    transform : scale(1.1, 1.1);
}

.cusernamec{
    font-family: "poppins", sans-serif;
    background-color: aliceblue;
    border-radius: 10px;
    margin-top: 12vh;
    margin-left: 2vw;
    height: 5vh;
    width: 80%;
   border: none;
}

.cemailc{
    font-family: "poppins", sans-serif;
    background-color: aliceblue;
    border-radius: 10px;
    margin-top: 5vh;
    margin-left: 2vw;
    height: 5vh;
    width: 80%;
       border: none;
}





input[type="text"],
input[type="email"]

{
    /* height: fit-content; */
    border: none;
    border-radius: 13px;
    padding: 8px 12px;
    font-size: 16px;
    background-color: #bfbfbf;
    color: #212121;
    transition: box-shadow 0.2s ease-out;
}


input[type="email"]:hover,
input[type="text"]:hover{
    outline: none;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.2);
    /* box-shadow: 0 0px 3px rgba(99, 99, 99, 0.2); */
}
input[type="email"]:focus,
input[type="text"]:focus{
    outline: none;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.2);
    /* box-shadow: 0 0px 3px rgba(99, 99, 99, 0.2); */
}

textarea {
    font-family: "poppins", sans-serif;
    margin-top: 5vh;
    margin-left: 2vw;
    height: 15vh;
    width: 80%;
    margin-bottom: 3vh;
    border: none;
    border-radius: 13px;
    padding: 8px 12px;
    font-size: 16px;
    background-color: #bfbfbf;
    color: #212121;
    transition: box-shadow 0.2s ease-out;
  }

textarea:hover{
    outline: none;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.2);
    /* box-shadow: 0 0px 3px rgba(99, 99, 99, 0.2); */
}

textarea:focus{
    outline: none;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.2);
    /* box-shadow: 0 0px 3px rgba(99, 99, 99, 0.2); */
}



  @media only screen and (max-width: 520px) {

    .contactbody{
        width: 90vw;
     margin-top: 50vh;
     margin-bottom: 50vh;
        display: flex;
        flex-direction: column;

    }

    .contactleft{
        display: flex;
        flex-direction:  column;
        align-items: center;
        justify-content: center;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 0px;
        width: 100%;
        background-color: #212121;
        height:30vh;
        padding-bottom: 15vh;
        font-size: 13px;
    }
            
    .contactright{
        align-items: center;
        justify-content: center;
        width: 100%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;    
        border-top-right-radius: 0px;    
        padding-bottom: 5vh;
    }
    .contactname{
            padding-left: 2vw;
        font-size: 50px;
        padding-bottom: 1vh;
    }
    .cusernamec{
            margin-top: 3vh;    
    }
    .cbtn{

        margin-left:5rem;
        width: 20vw;
        height: 6.5vh;
    }
    .cbtn:hover{
        width: 22vw;
        height: 7vh;
    }
    .cusernamec,
    .cemailc,
    textarea{
        margin-right: 4vw;
        width: 100%;
        /* margin-left: 5vh; */
    }


  }