



.visible{
  position: fixed;
  top: 0;
  left: 0;
  transition: all 300ms ease;
  height: 8vh;
  width: 70vw;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin: auto;
  margin-top: 0.5vh;
  margin-bottom: 4vh;
  margin-left: 18vw ;
  padding: 2vh;
  z-index: 500;
  background-color: black;
  opacity: 0.8;
  border-radius: 10px;
}

.hidden{
  position: fixed;
  top: -8vh;
  left: 0;
  transition: all 300ms ease;
  height: 3vh;
  width: 40vw;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin: auto;
  margin-top: 0.5vh;
  margin-bottom: 4vh;
  margin-left: 18vw ;
  padding: 2vh;
  /* z-index: 1000; */
  background-color: black;
  opacity: 0.8;
  border-radius: 10px;
}
#navitems a{
  position: relative;
  text-decoration: none;
  font-family: 'Poppins',sans-serif;
  color : #a0a0a0;
  font-size:17px;
  letter-spacing: 0.5px;
  padding: 0 10px;
}

#navitems a::after{
  content: "";
  position: absolute;
  background-color: rgb(68, 68, 68);
  height: 3px;
  width:0px ;
  left: 0px;
  bottom: -10px;
  transition: all 0.3s ease;
}
#navitems a:hover{
  color: #ffffff;
}

#navitems  a:hover:after{
  width: 100%;
}


#navitems a.active:after{
  content: "";
  position: absolute;
  background-color: rgb(120, 120, 120);
  height: 3px;
  width:100% ;
  left: 0px;
  bottom: -10px;
  transition: all 0.3s ease;
}

#navitems a.active{
  color: #ffffff;
}


@media only screen and (max-width: 520px) {
  nav{
    
    font-size: 13px;
  }
  .visible{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    margin-top: 0vh;
    margin-bottom: 0vh;
    margin-left: 10vw ;
  }


}